<div style="white-space: pre;">
  <span
    *ngFor="let piece of textPieces"
    [style.color]="piece.highlight ? 'white' : 'black'"
    [style.background-color]="piece.highlight ? 'black' : 'transparent'"
  >{{piece.text}}</span>
</div>
<div>selection start: {{textStatePreview.selection.start}}</div>
<div>selection end: {{textStatePreview.selection.end}}</div>
<div>isEnteringText: {{textStatePreview.isEnteringText}}</div>
<div>isSelectingText: {{textStatePreview.isSelectingText}}</div>
<form action="" (submit)="handleCommand($event)">
  <input type="text" [value]="commandString" (input)="commandString = $event.target.value;" />
</form>
